files:
  "/etc/httpd/conf.d/ssl_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        RewriteEngine On
        RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]
        RewriteCond %{HTTPS} =on
        RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
      </VirtualHost>

commands:
  01_restart_apache:
    command: "service httpd restart"
    ignoreErrors: true
