commands:
  01_storage_permissions:
    command: |
      chmod -R 775 /var/app/staging/storage
      chmod -R 775 /var/app/staging/bootstrap/cache
      chown -R webapp:webapp /var/app/staging/storage
      chown -R webapp:webapp /var/app/staging/bootstrap/cache
    ignoreErrors: true

  02_generate_key:
    command: |
      cd /var/app/staging
      php artisan key:generate --force
    ignoreErrors: true

  03_clear_cache:
    command: |
      cd /var/app/staging
      php artisan config:clear
      php artisan cache:clear
      php artisan view:clear
    ignoreErrors: true

  04_optimize:
    command: |
      cd /var/app/staging
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
    ignoreErrors: true 