option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: false
    APP_LOG: errorlog
    CACHE_DRIVER: file
    SESSION_DRIVER: file
    QUEUE_DRIVER: sync
    DB_CONNECTION: mysql
    # Estas variables deben ser configuradas en la consola de Elastic Beanstalk
    # DB_HOST: 
    # DB_PORT: 
    # DB_DATABASE: 
    # DB_USERNAME: 
    # DB_PASSWORD: 
    # MAIL_DRIVER: 
    # MAIL_HOST: 
    # MAIL_PORT: 
    # MAIL_USERNAME: 
    # MAIL_PASSWORD: 
    # MAIL_ENCRYPTION: 
    # AWS_ACCESS_KEY_ID: 
    # AWS_SECRET_ACCESS_KEY: 
    # AWS_DEFAULT_REGION: 
    # AWS_BUCKET: 