commands:
  01_final_permissions:
    command: |
      find /var/app/staging -type f -exec chmod 644 {} \;
      find /var/app/staging -type d -exec chmod 755 {} \;
      chmod -R 775 /var/app/staging/storage
      chmod -R 775 /var/app/staging/bootstrap/cache
      chown -R webapp:webapp /var/app/staging
    ignoreErrors: true

  02_create_storage_link:
    command: |
      cd /var/app/staging
      php artisan storage:link
    ignoreErrors: true

  03_migrate_database:
    command: |
      cd /var/app/staging
      php artisan migrate --force
    ignoreErrors: true 